<div class="col m-3">
  <div class="col-md-12 m-3">
    <img src="assets/product.PNG" class="rounded-circle"  width="200px" height="200px"/>
  </div>
  <hr>
  <div class="col-md-12 m-3">
    <div class="col-md-12 m-3">
        <h2><i class="fa-solid fa-info blue-color"></i>&nbsp;Information de l'article</h2>
    </div>
    <div class="col-md-12">
      <form class="m-3 p-3">
        <div class="m-3 p-3 alert alert-danger" *ngIf="errorMsg.length > 0">
          <div *ngFor="let msg of errorMsg">
            <span>{{msg}}</span>
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" name="codearticle" placeholder="Code article" [(ngModel)]="articleDto.codeArticle">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="designationarticle" placeholder="Desingation" [(ngModel)]="articleDto.designation">
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" name="prixhtarticle" placeholder="Prix unitaire Ht"
                   (input)="calculerTTC()"
                   [(ngModel)]="articleDto.prixUnitaireHt">
          </div>
          <div class="col">
            <input type="text" class="form-control" name="tvaarticle" placeholder="Taux TVA"
                   (input)="calculerTTC()"
                   [(ngModel)]="articleDto.tauxTva">
          </div>
        </div>

        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" name="prixttcarticle" placeholder="Prix unitaire TTC" [(ngModel)]="articleDto.prixUnitaireTtc">
          </div>
          <div class="col">
            <select class="form-select" aria-label="Default select example" name="categorie" [(ngModel)]="categoryDto.id">
              <option selected >Selectionner une categorie</option>
              <option [value]="cat.id" *ngFor="let cat of listeCategorie">
                {{cat.code}} - {{cat.designation}}
              </option>
            </select>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="d-flex justify-content-end m-5">
    <div class="p-2 flex-grow-1 bd-highlight">&nbsp;</div>
    <div class="p-2 bd-highlight">
      <button class="btn btn-danger" (click)="cancel()">
        <i class="fa-solid fa-ban"></i>&nbsp;Annuler
      </button>
    </div>
    <div class="p-2 bd-highlight">
      <button class="btn btn-primary" (click)="enregistrerArticle()">
        <i class="fas fa-save"></i>&nbsp;Enregistrer
      </button>
    </div>
  </div>

</div>
