<div class="col mb-3">
  <div class="col-md-12">
    <div class="col-md-12 m-3">
      <h1 class="m-3">Nouvelle categorie</h1>
    </div>
    <div class="col-md-12">
      <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
        <div *ngFor="let msg of errorMsg">
          <span>{{msg}}</span>
        </div>
      </div>
      <form class="m-3 p-3">
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Code category" name="codeCat" [(ngModel)]="categoryDto.code">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Description" name="designationCat" [(ngModel)]="categoryDto.designation">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-end m-5">
    <div class="p-2 flex-grow-1 bd-highlight">&nbsp;</div>
    <div class="p-2 bd-highlight">
      <button class="btn btn-danger" (click)="cancel()">
        <i class="fa-solid fa-ban"></i>&nbsp;Annuler
      </button>
    </div>
    <div class="p-2 bd-highlight">
      <button class="btn btn-primary" (click)="enregistrerCategory()">
        <i class="fas fa-save"></i>&nbsp;Enregistrer
      </button>
    </div>
  </div>

</div>
