<div class="row mb-1 mr-0  custom-border">
  <div class="col-md-1 custom-border-right p-1 text-center mb-1 mt-1">
    <img src="assets/product.PNG" width="100px" height="100px"/>
  </div>
  <!--  Detaille article -->
  <div class="col-md-5 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-info blue-color"></i></div>
        <div class="col-md-10">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-info blue-color"></i></div>
        <div class="col-md-10">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
        <div class="col-md-10">0011 22 33 44 55 66</div>
      </div>
    </div>
  </div>

  <!--  detaille categorie -->
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="fa-thin fa-house blue-color"></i></div>
        <div class="col-md-10">Adresse1 adresse2</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-solid fa-map blue-color"></i></div>
        <div class="col-md-10">12345 Ville</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="fa-regular fa-globe blue-color"></i></div>
        <div class="col-md-10">Pays</div>
      </div>
    </div>
  </div>



  <!--  bouton actions-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <div><i class="fa-solid fa-pencil"></i></div>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <div><i class="fa-solid fa-trash-can"></i></div>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <div> <i class="fa-solid fa-list"></i></div>&nbsp;Details
        </button>
      </div>
    </div>
  </div>


</div>
