<div class="col m-3">
  <div class="col-md-12 m-3">
    <img src="assets/product.PNG" class="rounded-circle"  width="200px" height="200px"/>
  </div>
  <hr>
  <div class="col-md-12 m-3">
    <div class="col-md-12 m-3">
      <h2><i class="fa-solid fa-info blue-color"></i>&nbsp;Information du {{origin}}</h2>
    </div>
    <div class="alert alert-danger" *ngIf="errorMsg.length>0">
      <div *ngFor="let msg of errorMsg">
        <span>{{msg}}</span>
      </div>
    </div>
    <div class="col-md-12">
      <form class="m-3 p-3">
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nom" name="nom" [(ngModel)]="clientFournisseur.nom">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Adresse 1" name="adresse1" [(ngModel)]="adresseDto.adresse1">
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Prenom" name="prenom" [(ngModel)]="clientFournisseur.prenom">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Adresse 2" name="adresse2" [(ngModel)]="adresseDto.adresse2">
          </div>
        </div>

        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="E-mail" name="email" [(ngModel)]="clientFournisseur.mail">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Ville" name="ville" [(ngModel)]="adresseDto.ville">
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Telephone" name="numtel" [(ngModel)]="clientFournisseur.numTel">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Code postal" name="codepostal" [(ngModel)]="adresseDto.codePostale">
          </div>
        </div>
        <div class="row m-3">
          <div class="col">
              &nbsp;
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Pays" name="pays" [(ngModel)]="adresseDto.pays">
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-end m-5">
    <div class="p-2 flex-grow-1 bd-highlight">&nbsp;</div>
    <div class="p-2 bd-highlight">
      <button class="btn btn-danger" (click)="cancelClick()">
        <i class="fa-solid fa-ban"></i>&nbsp;Annuler
      </button>
    </div>
    <div class="p-2 bd-highlight">
      <button class="btn btn-primary" (click)="Enregistrer()">
        <i class="fas fa-save"></i>&nbsp;Enregistrer
      </button>
    </div>
  </div>

</div>
