<div class="row mb-1 mr-0  custom-border">
  <div class="col-md-1 custom-border-right p-1 text-center mb-1 mt-1">
    <img src="assets/product.PNG" width="100px" height="100px"/>
  </div>
<!--  Detaille article -->
  <div class="col-md-5 custom-border-right mb-1 mt-1">
      <div class="col">

        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-info blue-color"></i></div>
          <div class="col-md-11">code article </div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-info blue-color"></i></div>
          <div class="col-md-11">designation</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
          <div class="col-md-11">prix Ht</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-dollar-sign blue-color"></i></div>
          <div class="col-md-11">prix Ttc</div>
        </div>

      </div>

  </div>

<!--  detaille categorie -->
  <div class="col-md-3 custom-border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-2">
        <i class="fa-solid fa-flag blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">code categorie</div>
          <div class="col-md-12">description categorie</div>
        </div>
      </div>
    </div>
  </div>



<!--  bouton actions-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <div><i class="fa-solid fa-pencil"></i></div>&nbsp;
          Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <div><i class="fa-solid fa-trash-can"></i></div>&nbsp;Supprimer
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
         <div> <i class="fa-solid fa-list"></i></div>Details
        </button>
      </div>
    </div>
  </div>


</div>
