<div class="row m-3">
  <div class="card col-md-4 text-center m-3">
    <div class="mb-3 mt-3 ">
      <img src="assets/product.PNG" class="rounded-circle" width="200px" height="200px"/>
    </div>
    <div class="mb-3">
      <h2>Nom Prenom</h2>
      <small class="form-text text-muted">Adresse , Ville , 12345</small>
    </div>
  </div>
  <div class="card col-md-7 m-3">
    <form>
      <div class="mb-3 mt-3">
        <input type="password" class="form-control" placeholder="Ancien mot de passe">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Nouveau mot de passe">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" placeholder="Confirmer mot de passe">
      </div>
    </form>

<!--    les 2 bouttons-->
    <div class="d-flex justify-content-end">
      <div class="p-2 flex-grow-1 bd-highlight">&nbsp;</div>
      <div class="p-2 bd-highlight">
        <button class="btn btn-danger" (click)="cancel()">
          <i class="fa-solid fa-ban"></i>&nbsp;Annuler
        </button>
      </div>
      <div class="p-2 bd-highlight">
        <button class="btn btn-primary">
          <i class="fas fa-save"></i>&nbsp;Enregistrer
        </button>
      </div>
    </div>
<!--    les 2 bouttons-->


  </div>
</div>
