<div class="col">
  <div class="row m-5">
    <div class="col-md-8 p-0">
      <h1>Liste des categories</h1>
    </div>
    <div class="col-md-4 text-end">
      <app-boutton-action
        (clickEvent)="nouvelleCategory()"
      ></app-boutton-action>
    </div>
  </div>
<!--  first categorie-->
  <div class="col-md-12 m-1 p-3">
    <div class="row custom-border m-1 p-3">
      <div class="col-md-3 custom-border-right">
        Code categorie
      </div>
      <div class="col-md-3 ">
        Description categorie
      </div>
    </div>
  </div>

<!--  second categorie-->
  <div class="col-md-12 m-1 p-3">
    <div class="row custom-border m-1 p-3">
      <div class="col-md-3 custom-border-right">
        Code categorie
      </div>
      <div class="col-md-3 ">
        Description categorie
      </div>
    </div>
  </div>

<!--  thirst categorie -->
  <div class="col-md-12 m-1 p-3">
    <div class="row custom-border m-1 p-3">
      <div class="col-md-3 custom-border-right">
        Code categorie
      </div>
      <div class="col-md-3 ">
        Description categorie
      </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>


</div>
