<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary">
    <i class="fa-solid fa-arrow-left-long"></i>
  </button>

  <button type="button" class="btn btn-outline-primary">
    <i class="fa-solid fa-arrow-pointer"></i>
  </button>


  <button type="button" class="btn btn-outline-primary">1</button>
  <button type="button" class="btn btn-outline-primary">2</button>
  <button type="button" class="btn btn-outline-primary">3</button>
  <button type="button" class="btn btn-outline-primary">4</button>
  <button type="button" class="btn btn-outline-primary">5</button>
  <button type="button" class="btn btn-outline-primary">6</button>
  <button type="button" class="btn btn-outline-primary">7</button>
  <button type="button" class="btn btn-outline-primary">8</button>


  <button type="button" class="btn btn-outline-primary"><i class="fa-solid fa-arrow-pointer"></i></button>
  <button type="button" class="btn btn-outline-primary">
    <i class="fa-solid fa-arrow-right-long"></i>
  </button>
</div>
